.header-strip {
    background-color: #5f5f5f;
    height: 22vh;
    max-height: 22vh;
    min-width: 100%;

    .title {
        min-width: 10vw;
        height: 10vh;
        max-height: 10vh;
        font-size: 8vh;
        margin: 2.5vh 0 0 2vh;
        color: #f1f1f1;
    }
}