@import "shared";

.header-strip {
    display: flex;
    justify-content: space-between;
    background-color: $header-bg-color;
    min-height: $header-height;
    height: $header-height;
    max-height: $header-height;
    min-width: 100%;

    .title {
        min-width: 10vw;
        min-height: $header-height;
        height: $header-height;
        max-height: $header-height;
        line-height: $header-height;
        font-size: 5.5vh;
        color: #f1f1f1;
        padding-left: 2.5vh;
    }

    .user-profile {
        font-size: 4vh;
        min-height: 12vh;
        height: 12vh;
        max-height: 12vh;
        line-height: 12vh;
        color: #ffffff;

        span {
            margin-right: 1vh;
        }
    }

    .btn-sign-in {
        background-color: #ff7b00;
        color: #ffffff;
        border: none;
        display: block;
        font-size: 4vh;
        min-height: 12vh;
        height: 12vh;
        max-height: 12vh;
        padding-left: 2.2vh;
        padding-right: 2.2vh;
        margin: 0;
    }
}