@import "shared";

.offer {
    background-color: $offer-bg-color;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    min-height: $offer-min-height;
    margin: 1vh;
    padding: 1vh 1.5vh;
    border: 1px solid #dddddd;
    border-radius: 4px;

    :first {
        margin-top: 0;
    }

    .title {
        font-size: 4vh;
        margin: 1.5vh 0 0 1vh;
    }

    .owner {
        font-size: 2.8vh;
        color: #818181;
        margin: 1vh 0 2vh 1vh;
    }

    .word-wrap {
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        white-space: pre-wrap;       /* css-3 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
        word-break: break-all;
        white-space: normal;
    }

    @media screen and (min-width: 1025px) {
        min-width: 60%;
        max-width: 60%;
        margin: 1vh auto;
    }
}