.btn-sign-in {
    background-color: #ff7b00;
    color: #ffffff;
    border: none;
    display: block;
    font-size: 4vh;
    min-height: 12vh;
    height: 12vh;
    max-height: 12vh;
    padding-left: 2.2vh;
    padding-right: 2.2vh;
    margin: 0;
}